@model OrganWeb.Areas.Sistema.Models.ViewFazenda

<div class="modal fade" id="Modal-lightbox" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h6 class="card-title box-title"><i class="icofont icofont-plant"></i>Novo funcionário</h6>

                <form id="main" method="post" action="#" novalidate="">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form">Nome:</label>
                        <label class="col-sm-8 col-form">Sobrenome:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="nome" id="nome">
                            <span class="messages"></span>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="sobrenome" id="sobrenome">
                            <span class="messages"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-8 col-form">CPF:</label>
                        <label class="col-sm-8 col-form">RG:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="cpf" id="cpf">
                            <span class="messages"></span>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="rg" id="rg">
                            <span class="messages"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-sm">Áreas:</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="sel1">
                                <option>Talhão 1</option>
                                <option>Talhão 2</option>
                                <option>Talhão 3</option>
                                <option>Talhão 4</option>
                            </select>
                            <span class="messages"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Tipo de plantio:</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span class="messages"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Período inicial:</label>
                        <label class="col-sm-6 col-form-label">Período final:</label>
                        <div class="col-sm-6">
                            <div class="input-group date">
                                <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-ui-calendar"></i></span>
                                <input type="date" class="form-control" name="name" id="name" placeholder="Período inicial">
                            </div>
                            <span class="messages"></span>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group date">
                                <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-ui-calendar"></i></span>
                                <input type="date" class="form-control" name="name" id="name" placeholder="Período inicial">
                            </div>
                            <span class="messages"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-10 col-form-label">Plantio personalizado: <i class="icofont icofont-question-circle"></i></label>
                        <div class="col-sm-12">
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span class="messages"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success m-b-0">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>