@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewPlantio
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tablecontainer">
    <div class="main-body">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title box-title">Plantios</h6>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="ti-minus minimize-card"></i></li>
                                <li><i class="icon-refresh"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                @foreach (var item in Model.Plantios)
                                {
                                    <div class="card-header">
                                        @Html.DisplayFor(model => item.Nome) -
                                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id })
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Talhão</h5>
                                        <div class="progress mx-auto" data-value='@Html.DisplayFor(model => item.Porcentagem)'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-primary"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-primary"></span>
                                            </span>
                                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="h2 font-weight-bold">@Html.DisplayFor(model => item.Porcentagem)<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success m-b-0" data-save="ajax-modal">Colher</button>
                                    </div>
                                }
                            </div>
                            <div class="card-content">
                                <div class="card border-success mb-3" style="max-width: 18rem;">
                                    <div class="card-body text-success">
                                        <h5 class="card-title">Novo plantio</h5>
                                        <p class="card-text">
                                            <div class="overlay"></div>
                                            <a class="popup btn btn-add" href="/Sistema/Plantio/Create" style="margin-bottom:20px; margin-top:20px;">Novo plantio</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== NÃO TIRA O PROGRESSCIRCLE.JS ======== -->
<environment include="Development">
    <script src="~/Scripts/progressCircle.js" asp-append-version="true" defer></script>
</environment>

<environment exclude="Development">
    <script src="~/js/progressCircle.min.js" asp-append-version="true" defer></script>
</environment>
<!-- ========== NÃO TIRA O PROGRESSCIRCLE.JS ======== -->

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        var Popup;
        $(document).ready(function () {
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));

            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        modal: true,
                        height: 550,
                        width: 600,
                        close: function () {
                            $('.overlay').hide(),
                                $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
}