<div class="site-top-icons">
    <ul>
        <li>
            <a href="cart.html" class="site-cart">
                <span class="fa fa-cart-plus"></span>
                <span class="count">@ViewData["CartCount"]</span>
                @Html.ActionLink("Cart(" + ViewData["CartCount"] + ")","Index","Carrinho")
            </a>
        </li>
        <li><a href="#"><span class="fa fa-heart"></span></a></li>
        <li><a href="#"><span class="fa fa-user"></span></a></li>
        <!--<i class="icon icon-room"></i><span>02548-120</span>-->
        <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
    </ul>
</div>
