/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/**/
body {
    display: table;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 100%;
}
p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
}
p:focus {
    border: none;
    outline: 0;
    }
a, button {
    text-decoration: none;
    outline: none;
    color: #878787;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
a:hover,
a:focus {
        text-decoration: none;
        color: #000;
}
/**/
/*Menu lateral*/
aside.left-panel {
    background: #fff;
    height: 100vh;
    padding: 0;
    vertical-align: top;
    width: 250px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 999;
}
aside.left-panel:hover { overflow-x: scroll; }
.open aside.left-panel:hover { overflow-x: inherit; }
.small-device .right-panel { margin-left: 83px; }
.navbar {
    background: #fff;
    border-radius: 0;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.navbar .main-menu {
    float: left;
    padding: 0;
    padding-bottom: 50px;
}
.navbar .navbar-nav {
    float: none;
    position: relative;
}
.navbar .navbar-nav > li {
    padding-left: 10px;
    padding-right: 30px;
}
.navbar .navbar-nav > li.active { background: #fafafa; }
.navbar .navbar-nav li { width: 100%; }
.navbar .navbar-nav li.active .menu-icon, .navbar .navbar-nav li:hover .toggle_nav_button:before,
.navbar .navbar-nav li .toggle_nav_button.nav-open:before { color: #12b246; }
.menu-title {
    padding: 20px;
    margin-left: 5px;
    font-family: 'Roboto';
}
/*Icone ativo*/
.navbar .navbar-nav li .dropdown-toggle:after { display: none; }
.navbar .navbar-nav li > a {
    background: none !important;
    color: #607d8b;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    text-decoration: none;
}
/*Itens do menu*/
.navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:hover .menu-icon { color: #12b246; }
/*Menu hover icones*/
.navbar .navbar-nav li > a .menu-icon {
    color: #607d8b;
    float: left;
    margin-top: 8px;
    width: 55px;
    text-align: left;
    z-index: 9;
    margin-left: -10px; /**/
}
.navbar .navbar-nav li > a .menu-title-text { font-size: 14px; }
.navbar .navbar-nav li > a .badge {
    border-radius: 0;
    font-weight: 600;
    float: right;
    margin: 6px 0 0 0;
    padding: 0.4em 0.5em;
}
.navbar .navbar-nav li.menu-item-has-children { position: relative; }
.navbar .navbar-nav li.menu-item-has-children a { line-height: 30px; }
.navbar .navbar-nav li.menu-item-has-children a:before {
    content: "";
    position: absolute;
    top: 23px;
    right: -12px; /**/
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #607d8b #607d8b transparent transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.navbar .navbar-nav li.menu-item-has-children a:hover:before {
    border-color: #12b246 #12b246 transparent transparent;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
    background: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow-y: hidden;
    padding: 0 0 0 35px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu li { position: relative; }
.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
    color: #c8c9ce;
    float: left;
    padding: 0;
    position: absolute;
    left: 0;
    font-size: 14px;
    top: 9px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a { padding: 2px 0 2px 30px; }
.navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
    content: '';
    display: none;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
    top: 13px;
    text-align: left;
    width: 25px;
}
.navbar .navbar-nav li.menu-item-has-children.show a:before {
    border-color: transparent #607d8b #607d8b transparent;
    top: 20px;
    right: -15px;
}
/**/
.navbar .navbar-nav li.menu-item-has-children.show a:hover:before {
    border-color: transparent #12b246 #12b246 transparent;
}
.navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    max-height: 1000px;
    opacity: 1;
    position: static !important;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover { color: #12b246; }
/*Texto ativo*/
.navbar-nav li span.count {
    background: #a9d86e;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 15px;
    text-align: center;
}

.open .navbar .navbar-brand.hidden {
    display: block;
}

.open .sub-menu .subtitle {
    display: block;
    font-size: 15px;
    line-height: 35px;
    color: #607d8b;
    border-bottom: 1px solid rgba(96, 125, 139, 0.15);
}
.open .sub-menu i { left: 15px !important; }
.sub-menu .subtitle { display: none; }
.sub-menu .subtitle > .menu-icon { display: none; }
.open aside.left-panel {
    max-width: 83px;
    width: 83px;
}
.open aside.left-panel .navbar .navbar-header { padding: 0; }
    .open aside.left-panel .navbar .navbar-brand {
        display: none;
    }

        .open aside.left-panel .navbar .navbar-brand.hidden {
            display: block !important;
            text-align: center;
            width: 100%;
        }

            .open aside.left-panel .navbar .navbar-brand.hidden img {
                max-width: 100%;
                margin: 0 auto;
            }

        .open aside.left-panel .navbar .navbar-brand.d-md-none {
            display: block !important;
            margin: 13px 0 0;
            min-height: 67px;
            padding: 0;
            text-align: center;
        }

    .open aside.left-panel .navbar .navbar-nav:before {
        display: none !important;
    }

    .open aside.left-panel .navbar .navbar-nav li {
        position: relative;
        padding: 0 15px;
    }

.open aside.left-panel .navbar .navbar-nav li a {
    font-size: 0;
    z-index: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

            .open aside.left-panel .navbar .navbar-nav li a .menu-icon {
                font-size: 20px;
                z-index: -1;
                text-align: center;
                width: inherit;
            }
            /*Tamanho do icone ham.*/
            .open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
                font-size: 0;
            }

            .open aside.left-panel .navbar .navbar-nav li a .badge {
                display: none;
            }

        .open aside.left-panel .navbar .navbar-nav li > a {
            max-width: 60px;
            padding-left: 0;
        }

        .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
            overflow: hidden;
        }

            .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
                padding-left: 0;
            }

            .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
                display: block;
                left: 83px;
                top: 0;
            }
                /*Posição do menu aberto ham.*/
                .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
                    display: block;
                    font-size: 14px;
                    max-width: inherit;
                    padding: 2px 15px 2px 25px;
                    width: 100%;
                }
                    /*Menu aberto ham.*/
                    .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
                        text-align: center;
                    }

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show { overflow: visible; }
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    position: absolute !important;
    width: 180px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
.open aside.left-panel .navbar .navbar-nav li span.count {
    display: none;
    margin-right: 5px;
    z-index: 1;
}

        .open aside.left-panel .navbar .navbar-nav li.active a:after {
            content: '';
            display: none;
        }

    .open aside.left-panel .navbar .navbar-nav .menu-title {
        font-size: 0;
        line-height: 0;
        opacity: 0;
        padding: 0;
    }

    .open aside.left-panel .menutoggle {
        background-color: #dc3545;
        color: #fff !important;
        right: -20px;
        text-align: center;
}
/*Fim menu lateral*/
/*Menu Superior*/
/* Right panel */
.right-panel {
  background: #f1f2f7;
  margin-left: 280px;
  margin-top: 55px; }
.right-panel .top-left {
  width: 350px;
  float: left; }
.right-panel .top-rigth {
  float: left; }
.right-panel .breadcrumbs {
  float: left;
  margin-top: 30px;
  padding: 0 1.875em;
  width: 100%; }
.right-panel .breadcrumbs .breadcrumbs-inner { background-color: #fff; }
.right-panel .breadcrumbs .col-lg-8 .page-header { float: left; }
.right-panel .page-header {
  min-height: 50px;
  margin: 0px;
  padding: 0px 15px;
  background: #ffffff;
  border-bottom: 0px; }
.right-panel .page-header h1 {
  font-size: 18px;
  padding: 15px 0; }
.right-panel .page-header .breadcrumb {
  margin: 0px;
  padding: 13.5px 0;
  background: #fff;
  text-transform: capitalize; }
.right-panel .page-header .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0"; }
.right-panel header.header {
  background: #fff;
  border-bottom: 1px solid #e8e9ed;
  -webkit-box-shadow: none;
  box-shadow: none;
  clear: both;
  padding: 0 30px;
  height: 55px;
  position: fixed;
  left: 280px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999; }
.right-panel .navbar-brand {
  width: 250px;
  display: inline-block; }
.right-panel .menutoggle {
  padding-top: 7px; }
.right-panel .navbar-header {
  width: 100%;
  background-color: #fff;
  padding: 0 1.25em 0 0; }
  .right-panel .navbar-header > a { display: inline-block; }
.right-panel .navbar-brand {
  line-height: 4px; }
.right-panel .navbar-brand img { max-width: 145px; }
.right-panel .navbar-brand.hidden { display: none; }
.open .right-panel {
  margin-left: 83px; }
.open .let-panel {
  z-index: 999; }
header.fixed-top {
  background: #fff;
  padding: 20px; }
.menutoggle {
  background-color: transparent;
  color: #99abb4 !important;
  cursor: pointer;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  width: 5px;
  display: block;
  text-align: right; }
.search-trigger {
  background: transparent;
  border: none;
  color: #99abb4;
  cursor: pointer;
  font-size: 16px;
  line-height: 55px;
  padding: 0;
  width: 43px; }
header .form-inline {
  background: #eee;
  display: none;
  height: 30px;
  margin: 0;
  width: 20%;
  position: absolute;
  left: 60%;
  top: 25%;
  z-index: 9999;
  color: #eee;
  font-size: 16px;
  transition: width 0.5s;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
/*header .form-inline .search-form {
  height: 100%;
  max-width: 1025px;
  margin: 0 auto;
  position: relative; }*/
header .form-inline .search-form input[type="text"] {
  background: #c5c5c5;
  transition: 0.5s;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 16px;
  height: inherit;
  margin-right: 0 !important;
  padding: 10px 36px 10px 15px;
  width: 100%;
  border-radius: 20px;
 }
header .form-inline .search-form input[type="text"].active,
header .form-inline .search-form input[type="text"]:focus {
  border-color: rgba(0, 0, 0, 0.125);
  outline: 0; }
header .form-inline .search-form button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -14px !important; }
header .form-inline .search-form button:active,
header .form-inline .search-form button:focus,
header .form-inline .search-form button:visited,
header .form-inline .search-form .btn-outline-success:hover {
    background: transparent;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important; }
header .form-inline .search-form.close { display: none; }
.header-left { display: inline-block; }
.header-left.open .form-inline {
  display: block;
  transition: all .25s ease-in .25s;}
/**/
header .search {
  margin-top: 10px;
  padding: 10px 5px 3px;
  display: inline-block;
 }
header .search > div {
  display: inline-block;
  position: relative;
}
.search > div > input {
  color: #eee;
  font-size: 16px;
  background: transparent;
  width: 27px;
  height: 27px;
  border: solid 1px #eee;
  outline: none;
  border-radius: 35px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3e%3cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  transition: width 0.5s;
  padding: 10px 0 10px 25px;
  background-position: 3px 2px;
  cursor: pointer;
}
.search > div > input::placeholder {
  color: #000;
  opacity: 1;
}
.search > div > input::-ms-placeholder { color: #efefef; }
.search > div > input::-ms-input-placeholder { color: #efefef; }
.search > div > input:focus,
.search > div > i > input:focus {width: 250px; }
.search > div > input::placeholder {
  color: #000;
  opacity: 1;
}
/**/
.header-left .dropdown { display: inline-block; }
.header-left .dropdown .dropdown-toggle {
  background: transparent;
  border: none;
  color: #99abb4;
  font-size: 16px;
  line-height: 55px;
  padding-top: 0;
  padding-bottom: 0; }
.header-left .dropdown .dropdown-toggle:after { display: none; }
.header-left .dropdown .dropdown-toggle .count {
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  right: 0;
  top: 12px;
  position: absolute; }
.header-left .dropdown .dropdown-toggle:active, .header-left .dropdown .dropdown-toggle:focus, .header-left .dropdown .dropdown-toggle:visited {
  background: none !important;
  border-color: transparent !important;
  color: #292b35 !important; }
/*Notificações*/
.header-left .dropdown .dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 52px !important;
  left: inherit !important;
  right: 0 !important;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  line-height: 35px; }
.header-left .dropdown .dropdown-menu p {
  font-size: 15px;
  margin: 0;
  padding: 5px 15px; }
.header-left .dropdown .dropdown-menu .dropdown-item {
  color: #99abb4;
  font-size: 13px;
  padding: 10px 15px 3px;
  text-overflow: ellipsis;
  -webkit-transition: all .25s;
  transition: all .25s; }
.header-left .dropdown .dropdown-menu .dropdown-item:hover {
  background: rgba(233, 236, 239, 0.5); }
.header-left .dropdown .dropdown-menu .dropdown-item .photo {
  float: left;
  margin-right: 35px;
  width: 30px;
  border-radius: 55%; }
.header-left .dropdown .dropdown-menu .dropdown-item .message .name {
  margin-top: -5px; }
.header-left .dropdown .dropdown-menu .dropdown-item .message .time {
  font-size: 11px; }
.header-left .dropdown .dropdown-menu .dropdown-item .message p {
  clear: both;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis; }
/*Fim Notificações*/
/*Menu Notificação*/
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
.header-menu .dropdown {
    line-height: 55px;
    margin-top: 0 !important; }
.header-menu .dropdown .dropdown-toggle { line-height: 55px; }
/*Fim Menu Notificação*/
.dropdown-menu {
  border-radius: 0;
  -webkit-transform: none !important;
  transform: none !important; }
.for-notification .dropdown-menu .dropdown-item {
  padding: 5px 15px !important;
  text-overflow: ellipsis; }
.for-notification .dropdown-menu .dropdown-item i {
  float: left;
  font-size: 14px;
  margin: 5px 5px 0 0;
  text-align: left;
  width: 20px; }
.for-notification .dropdown-menu .dropdown-item p {
  padding: 0 !important;
  text-overflow: ellipsis; }
.user-area .user-menu {  top: 51px !important; }
.user-area {
  float: right;
  text-decoration: none;
  padding-right: 20px;
  position: relative;
  padding-left: 20px; }
.user-area .user-menu {
  background: #fff;
  border: none;
  left: inherit !important;
  right: 0;
  top: 54px !important;
  margin: 0 -10px;
  max-width: 150px;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  z-index: 999;
  min-width: 150px;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05); }
.user-name { padding-left: 10px; }
.user-area .user-menu .nav-link {
  color: #607d8b;
  display: block;
  font-size: 13px;
  line-height: 22px;
  padding: 5px 0; }
.user-area .user-menu .nav-link > i { margin-right: 10px; }
.user-area .user-avatar {
  float: right;
  width: 40px; }
.user-area .user-info .name {
  color: #8c8c8c;
  font-size: 14px;
  position: relative;
  text-transform: uppercase; }
.user-area .count {
    background: #d9534f;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center; }
.user-area .dropdown-toggle {
    line-height: 55px;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.user-area .dropdown-toggle:after { display: none; }

#menuToggle2 {
  padding-left: 25px; }

#language-select {
  color: #f1f2f7;
  float: right;
  margin: 7px 20px 0 0;
  max-width: 80px; }
  #language-select:focus, #language-select:visited {
    border: none;
    outline: 0; }
  #language-select .flag-icon {
    line-height: 55px; }
  #language-select .dropdown-toggle::after {
    display: none; }
  #language-select .dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 0;
    left: -8px !important;
    min-width: inherit;
    padding: 0 5px;
    top: 81px !important; }
    #language-select .dropdown-menu .dropdown-item {
      line-height: 1.5;
      margin-right: 0;
      max-width: 25px;
      padding: 0; }
      #language-select .dropdown-menu .dropdown-item:hover {
        background: #fff; }
      #language-select .dropdown-menu .dropdown-item .flag-icon {
        line-height: 1.5;
        margin-right: 0;
        width: 25px; }

.notification-show + .dropdown-menu,
.message-show + .dropdown-menu,
.language-show + .dropdown-menu { display: block; }
.content {
  float: left;
  padding: 1.875em;
  width: 100%; }
.action-menu .dropdown-toggle i { font-size: 12px; }
.action-menu .dropdown-toggle::after { display: none; }
.card .dropdown .float-right .dropdown-menu {
  left: inherit !important;
  right: 0 !important;
  top: 93% !important; }
/*Fim Menu Superior*/

