@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.eot?v=3.6.95");
    src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=3.6.95") format("embedded-opentype"),url("../fonts/materialdesignicons-webfont.woff2?v=3.6.95") format("woff2"),url("../fonts/materialdesignicons-webfont.woff?v=3.6.95") format("woff"),url("../fonts/materialdesignicons-webfont.ttf?v=3.6.95") format("truetype"),url("../fonts/materialdesignicons-webfont.svg?v=3.6.95#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DubaiW23";
    src: url("../fonts/DubaiW23-Regular.eot");
    src: url("../fonts/DubaiW23-Regular.eot") format("embedded-opentype"),url("../fonts/DubaiW23-Regular.woff2") format("woff2"),url("../fonts/DubaiW23-Regular.woff") format("woff"),url("../fonts/DubaiW23-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "DubaiW23", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

    ol ol, ul ul, ol ul, ul ol {
        margin-bottom: 0;
    }

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

b, strong {
    font-weight: bolder;
}

a {
    color: #4a4a4a;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        color: #12b246;
        text-decoration: none;
    }

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.form-control, .dataTables_wrapper select, .form-control:focus, .dataTables_wrapper select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}
/* Dropdowns */
.dropdown .dropdown-toggle:after {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F140";
    width: auto;
    height: auto;
    vertical-align: middle;
    line-height: .625rem;
    font-size: 1.25rem;
    margin-left: 0;
}

.dropdown .dropdown-menu {
    margin-top: .75rem;
    font-size: 0.875rem;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: 0;
}

    .dropdown .dropdown-menu .dropdown-item {
        font-size: .875rem;
        padding: .25rem 1.5rem;
    }

        .dropdown .dropdown-menu .dropdown-item:active {
            background: initial;
        }
/* Forms */
.form-group {
    margin-bottom: 1.5rem;
}
/*
.input-group-append,
.input-group-prepend {
    color: #c9c8c8;
    width: auto;
    border: none;
}

    .input-group-append .input-group-text,
    .input-group-prepend .input-group-text {
        border-color: #f3f3f3;
        padding: 0.875rem 0.75rem;
        color: #c9c8c8;
    }

.form-control, .dataTables_wrapper select {
    border: 1px solid #f3f3f3;
    font-weight: 400;
    font-size: 0.875rem;
}

select.form-control, .dataTables_wrapper select {
    padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid #f3f3f3;
    color: #c9c8c8;
}

.form-group label {
    font-size: 0.875rem;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: .5rem;
}

.form-group .file-upload-default {
    visibility: hidden;
    position: absolute;
}

.form-group .file-upload-info {
    background: transparent;
}
    */
.page-body-wrapper {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

    .page-body-wrapper.full-page-wrapper {
        width: 100%;
        min-height: 100vh;
        padding-top: 0;
    }

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 257px);
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 991px) {
    .main-panel {
        margin-left: 0;
        width: 100%;
    }

    .main-panel {
        margin-left: 0;
        width: 100%;
    }
}

.content-wrapper {
    background: #fafafa; /*COR DE FUNDO*/
    padding: 2.1rem 1.7rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .content-wrapper {
        padding: 1.5rem 1.5rem;
    }

    .content-wrapper {
        padding: 1.5rem 1.5rem;
    }
}
/* Sidebar */
.sidebar {
    min-height: calc(100vh - 60px);
    background: #ffffff;
    font-family: "DubaiW23", sans-serif;
    font-weight: 400;
    padding: 0;
    width: 257px;
    z-index: 11;
    font-size: 1em;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    /*-ms-transition: width 0.25s ease, background 0.25s ease;*/
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    /*-ms-box-shadow: none;*/
    border-right: 1px solid #e3e3e3;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
}
.sidebar .nav .nav-item {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}
.sidebar .nav .nav-item .collapse { z-index: 99; }
.sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.75rem 2.5rem 0.75rem 1.25rem;
    color: rgb(105, 105, 105);
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
}
.sidebar .nav .nav-item .nav-link i { color: inherit; }
.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-right: 1.225rem;
    color: inherit;
}
.menu-icon {
    margin-right: 10px;
    margin-left: 10px;
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-left: 2rem;
    margin-right: 0;
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
    margin-right: 10px;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0;
    color: #000;
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
    margin-left: 0;
    margin-right: auto;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\F140";
    font-family: "Material Design Icons";
    font-style: normal;
    display: block;
    font-size: 1rem;
    line-height: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    /*-ms-transition: all 0.2s ease-in;*/
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link .badge { margin-left: auto; }
.rtl .sidebar .nav .nav-item .nav-link .badge {
    margin-left: 0;
    margin-right: auto;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"] i.menu-arrow:before {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sidebar .nav .nav-item.active > .nav-link {
    background: initial;
    position: relative;
}
.sidebar .nav .nav-item.active > .nav-link i,
.sidebar .nav .nav-item.active > .nav-link .menu-title,
.sidebar .nav .nav-item.active > .nav-link .menu-arrow { color: #12b246; }
.sidebar .nav:not(.sub-menu) { margin-top: .3rem; }
    /* DIVISÕES
.sidebar .nav:not(.sub-menu) > .nav-item {
  border-bottom: 1px solid #f3f3f3;
  margin-top: 0;
}
*/
    .sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
        margin: 0;
    }

    .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
        background: transparent;
        color: #12b246;
    }

.sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 0.25rem 0 0.6rem 3.55rem;
}

    .sidebar .nav.sub-menu .nav-item {
        padding: 0;
    }

        .sidebar .nav.sub-menu .nav-item::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #000;
            margin-top: 15px;
        }

        .sidebar .nav.sub-menu .nav-item .nav-link {
            color: #656565;
            padding: 0.6rem 1rem;
            position: relative;
            font-size: 0.875rem;
            line-height: 1;
            height: auto;
            border-top: 0;
        }

            .sidebar .nav.sub-menu .nav-item .nav-link:hover {
                color: #000;
            }

            .sidebar .nav.sub-menu .nav-item .nav-link.active {
                color: #000;
                background: transparent;
            }

        .sidebar .nav.sub-menu .nav-item:hover {
            background: transparent;
        }

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - 60px);
        top: 60px;
        bottom: 0;
        overflow: auto;
        right: -257px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

        .sidebar-offcanvas.active {
            right: 0;
        }
}

/* Navbar */
.navbar {
    font-weight: 400;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    /*-ms-transition: background 0.25s ease;*/
}

    .navbar .navbar-brand-wrapper {
        background: #ffffff;
        border-bottom: 1px solid #e3e3e3;
        transition: width 0.25s ease, background 0.25s ease;
        -webkit-transition: width 0.25s ease, background 0.25s ease;
        -moz-transition: width 0.25s ease, background 0.25s ease;
        /*-ms-transition: width 0.25s ease, background 0.25s ease;*/
        width: 257px;
        height: 60px;
        border-right: 1px solid #e3e3e3;
    }

        .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper {
            margin-left: 1.375rem;
            margin-right: 1.375rem;
        }

            .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand {
                color: #27367f;
                font-size: 1.5rem;
                margin-right: 0;
                padding: .25rem 0;
            }

                .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand.brand-logo-mini {
                    display: none;
                }

@media (max-width: 991px) {
    .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand.brand-logo-mini {
        display: inline-block;
        width: 1.875rem;
    }
}

.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand:active, .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand:focus, .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand:hover {
    color: #1b2658;
}

.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img {
    width: calc(257px - 150px);
    max-width: 100%;
    height: 34px;
    margin: auto;
    vertical-align: middle;
}

.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler {
    border: 0;
    color: #4a4a4a;
    font-size: 1.5rem;
    padding: 0;
}

@media (max-width: 991px) {
    .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler:not(.navbar-toggler-right) {
        display: none;
    }
}

.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .brand-logo-mini {
    padding-left: 0;
    text-align: center;
}

    .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .brand-logo-mini img {
        width: calc(70px - 30px);
        max-width: 100%;
        margin: auto;
    }

.navbar .navbar-menu-wrapper {
    background: #fff;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    /*-ms-transition: width 0.25s ease;*/
    color: #9b9b9b;
    padding-left: 1.062rem;
    padding-right: 1.062rem;
    width: calc(100% - 257px);
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
    background: #fff;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    /*-ms-transition: width 0.25s ease;*/
    color: #9b9b9b;
    padding-left: 1.062rem;
    padding-right: 1.062rem;
    width: calc(100% - 257px);
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
}

@media (max-width: 991px) {
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 55px);
        padding-left: 15px;
        padding-right: 15px;
    }
}

.navbar .navbar-menu-wrapper .navbar-toggler {
    border: 0;
    color: inherit;
    font-size: 1.5rem;
    padding: 0;
}

@media (max-width: 991px) {
    .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
        padding-left: 15px;
        padding-right: 11px;
    }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
        color: inherit;
        font-size: 0.875rem;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search {
        margin-left: 0rem;
    }

        .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group {
            background: #ececec;
            border-radius: 4px;
            padding: 0 .75rem;
        }

            .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select,
            .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-text {
                /*background: transparent;*/
                border: 0;
                color: #000;
                padding: 0;
            }

                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-text i {
                    color: #9b9b9b;
                }

            .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select {
                margin-left: .5rem;
                height: 2.5rem;
            }

                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control::-webkit-input-placeholder, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select::-webkit-input-placeholder, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select::-webkit-input-placeholder {
                    color: #9b9b9b;
                }

                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control:-moz-placeholder, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select:-moz-placeholder, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select:-moz-placeholder {
                    color: #9b9b9b;
                }

                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control::-moz-placeholder, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select::-moz-placeholder, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select::-moz-placeholder {
                    color: #9b9b9b;
                }

                .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control:-ms-input-placeholder, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select:-ms-input-placeholder, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select:-ms-input-placeholder {
                    color: #9b9b9b;
                }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings {
        margin: 0;
        padding-left: 1.5rem;
    }

        .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings .nav-link {
            padding: 0;
            text-align: center;
        }

        .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings i {
            font-size: 1.5rem;
            vertical-align: middle;
        }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile {
        margin-left: 1.8rem;
        margin-right: 1.8rem;
        white-space: nowrap;
    }

@media (max-width: 768px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-name {
    margin-left: .5rem;
    margin-right: .5rem;
    color: #4a4a4a;
    font-weight: 500;
}

@media (max-width: 767px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-name {
        display: none;
    }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link::after {
    color: #4a4a4a;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    position: absolute;
    font-size: 0.9rem;
    margin-top: 0;
    right: 0;
    left: auto;
    top: 60px;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    right: auto;
    left: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: .65rem 1.5rem;
    cursor: pointer;
}

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail img {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail .item-icon {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        color: #ffffff;
    }

        .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail .item-icon i {
            font-size: 17px;
        }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-content {
        padding-left: 0.937rem;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
        margin-left: 2.5rem;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
    margin-left: 10px;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
    margin-left: 0;
    margin-right: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
    margin: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
    margin-right: .5rem;
    vertical-align: middle;
}
/*@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
	position: static;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
	left: 20px;
	right: 20px;
	top: 60px;
	width: calc(100% - 40px);
  }
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator {
  position: relative;
  padding: 0;
  text-align: center;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator i {
  font-size: 1.5rem;
  margin-right: 0;
  vertical-align: middle;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
  position: absolute;
  left: 59%;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #ff4747;
  top: 9px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator:after {
  display: none;
}*/
@media (min-width: 992px) {
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-left: auto;
    }

    .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-left: 0;
        margin-right: auto;
    }
}

@media (max-width: 991px) {
    .navbar {
        flex-direction: row;
    }

        .navbar .navbar-brand-wrapper {
            width: 55px;
        }

            .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
                display: none;
            }

            .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
                display: inline-block;
            }

    .navbar-collapse {
        display: flex;
        margin-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    .navbar .navbar-brand-wrapper {
        width: 55px;
    }

        .navbar .navbar-brand-wrapper .brand-logo-mini {
            padding-top: 0px;
        }
}
/* Layouts */
@media (min-width: 992px) {
    .sidebar-icon-only .navbar .navbar-brand-wrapper {
        width: 70px;
    }

        .sidebar-icon-only .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper {
            margin-right: auto;
        }

            .sidebar-icon-only .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .brand-logo {
                display: none;
            }

            .sidebar-icon-only .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .brand-logo-mini {
                display: none;
            }

    .sidebar-icon-only .navbar .navbar-menu-wrapper {
        width: calc(100% - 70px);
    }

    .sidebar-icon-only .sidebar {
        width: 70px;
    }

        .sidebar-icon-only .sidebar .nav {
            overflow: visible;
        }

            .sidebar-icon-only .sidebar .nav .nav-item {
                position: relative;
            }

                .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
                    display: block;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    text-align: center;
                    position: static;
                }

                    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
                    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge, .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
                        display: none;
                    }

                    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
                        border-radius: 0 5px 5px 0px;
                    }

    .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
        border-radius: 5px 0 0 5px;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
        display: none;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
        border-radius: 0 5px 0 0px;
    }

    .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
        border-radius: 5px 0 0 0;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .collapse {
        display: none;
    }

    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        background: #ffffff;
        padding: 0.5rem 1.4rem;
        left: 70px;
        position: absolute;
        text-align: left;
        top: 0;
        bottom: 0;
        width: 190px;
        z-index: 1;
        line-height: 1.8;
        box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
    }

    .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        left: auto;
        right: 70px;
        text-align: left;
        box-shadow: -4px 0px 7px 0px rgba(182, 185, 189, 0.25);
    }

    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title:after {
        display: none;
    }

    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link:hover .menu-title {
        background: #ffffff;
    }

    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
        display: block;
        padding: .5rem 0;
        background: #ffffff;
        border-radius: 0 0 5px 0;
        position: absolute;
        left: 70px;
        width: 190px;
        box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
    }

    .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
        left: auto;
        right: 70px;
        border-radius: 0 0 0 5px;
        box-shadow: -4px 4px 7px 0px rgba(182, 185, 189, 0.25);
    }

    .sidebar-icon-only .sidebar .nav.sub-menu {
        padding: 0 0 0 1.5rem;
    }

        .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
            text-align: left;
            padding-left: 20px;
        }

    .sidebar-icon-only .main-panel {
        width: calc(100% - 70px);
    }
}

.rtl {
    direction: rtl;
    text-align: right;
}

    .rtl .sidebar .nav {
        padding-right: 0;
    }

        .rtl .sidebar .nav.sub-menu {
            padding: 0 4.5rem 0 0;
        }

.sidebar-icon-only.rtl .sidebar .nav.sub-menu {
    padding-right: 0rem;
}

    .sidebar-icon-only.rtl .sidebar .nav.sub-menu .nav-item .nav-link {
        padding-right: 3rem;
        text-align: right;
    }

        .sidebar-icon-only.rtl .sidebar .nav.sub-menu .nav-item .nav-link:before {
            right: 1.75rem;
        }

/*Card*/
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

    .card .card-footer {
        background-color: #fff;
        border-top: none;
    }

    .card .card-header {
        background-color: transparent;
        border-bottom: 1px solid #ccc;
        padding: 20px 2px 2px 20px;
    }

        .card .card-header .card-header-left {
            display: inline-block
        }

        .card .card-header .card-header-right {
            border-radius: 0 0 0 7px;
            right: 10px;
            top: 10px;
            display: inline-block;
            /*float: right;*/
            padding: 7px 0;
            position: absolute;
        }

            .card .card-header .card-header-right i {
                margin: 0 8px;
                cursor: pointer;
                font-size: 16px;
                color: #919aa3;
                line-height: 20px
            }

                .card .card-header .card-header-right i.icofont.icofont-spinner-alt-5 {
                    display: none
                }

            .card .card-header .card-header-right .card-option {
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out
            }

                .card .card-header .card-header-right .card-option li {
                    display: inline-block
                }

        .card .card-header span {
            color: #919aa3;
            display: block;
            font-size: 13px;
            margin-top: 5px;
        }

        .card .card-header + .card-block,
        .card .card-header + .card-block-big {
            padding-top: 0
        }

        .card .card-header h5 {
            margin-bottom: 0;
            color: #505458;
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            margin-right: 10px;
            line-height: 1.4
        }

    .card .card-block .sub-title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px
    }

    .card .card-block code {
        background-color: #eee;
        margin: 5px;
        display: inline-block
    }

    .card .card-block .dropdown-menu {
        top: 38px
    }

    .card .card-block p {
        line-height: 25px
    }

    .card .card-block a.dropdown-item {
        margin-bottom: 0;
        font-size: 14px;
        -webkit-transition: 0.25s;
        transition: 0.25s
    }

        .card .card-block a.dropdown-item:active,
        .card .card-block a.dropdown-item .active {
            background-color: #01a9ac
        }

    .card .card-block.remove-label i {
        margin: 0;
        padding: 0
    }

    .card .card-block.button-list span.badge {
        margin-left: 5px
    }

    .card .card-block .dropdown-menu {
        background-color: #fff;
        padding: 0
    }

        .card .card-block .dropdown-menu .dropdown-divider {
            background-color: #ddd;
            margin: 3px 0
        }

        .card .card-block .dropdown-menu > a {
            padding: 10px 16px;
            line-height: 1.429
        }

        .card .card-block .dropdown-menu > li > a:focus,
        .card .card-block .dropdown-menu > li > a:hover {
            background-color: rgba(202, 206, 209, 0.5)
        }

        .card .card-block .dropdown-menu > li:first-child > a:first-child {
            border-radius: 15px;
        }

    .card .card-block .badge-box {
        padding: 10px;
        margin: 12px 0
    }

    .card .card-block-big {
        padding: 30px 35px
    }

    .card .card-block-small {
        padding: 15px 20px
    }

.filter-bar .navbar .navbar-nav .dropdown-menu {
    position: absolute;
}
/*Fim card*/
/*Tarefas*/
.tdl-holder {
    margin: 0 auto;
}

    .tdl-holder ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tdl-holder li {
        position: relative;
        background-color: transparent;
        list-style: outside none none;
        margin: 0;
        padding: 7px 0;
    }

        .tdl-holder li:after, .tdl-holder li:before {
            top: 24px;
            position: absolute;
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            z-index: 99;
            color: #99abb4;
        }

        .tdl-holder li:after {
            left: 10px;
        }

        .tdl-holder li:before {
            left: 14px;
        }

        .tdl-holder li span {
            margin-left: 30px;
            vertical-align: middle;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

    .tdl-holder label {
        cursor: pointer;
        display: block;
        line-height: 50px;
        padding: 0 15px;
        padding-left: 30px;
        position: relative;
        margin: 0 !important;
        background: #fafafa;
        color: #99abb4;
        font-size: 15px;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

        .tdl-holder label:hover {
            background-color: rgba(153, 171, 180, 0.1);
        }

        .tdl-holder label a {
            border-radius: 50%;
            color: rgba(153, 171, 180, 0.5);
            float: right;
            line-height: normal;
            margin-top: 15px;
            text-align: center;
            text-decoration: none;
            height: 16px;
            width: 20px;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

            .tdl-holder label a:hover {
                color: rgba(153, 171, 180, 0.8);
            }

    .tdl-holder input[type="checkbox"] {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

        .tdl-holder input[type="checkbox"] + i {
            border: 1px solid rgba(153, 171, 180, 0.3);
            display: block;
            height: 18px;
            position: absolute;
            top: 15px;
            width: 18px;
            z-index: 1;
            border-radius: 100%;
        }

        .tdl-holder input[type="checkbox"]:checked + i::after {
            content: "\e64c";
            font-family: 'themify';
            display: block;
            color: rgba(153, 171, 180, 0.5);
            left: 0;
            position: absolute;
            top: -16px;
            z-index: 2;
        }

        .tdl-holder input[type="checkbox"]:checked ~ span {
            text-decoration: line-through;
        }

    .tdl-holder input[type="text"] {
        height: 60px;
        margin-top: 20px;
        font-size: 14px;
    }

.transition {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.filter-menu {
    float: left;
    display: inline-block;
    text-decoration: none;
    padding-top: 15px;
    position: relative;
    padding-left: 2px;
    font-size: 0.9rem;
}

    .filter-menu a {
        color: #363837;
    }

    .filter-menu .filter {
        background: #fff;
        border: none;
        left: inherit !important;
        right: 0;
        top: 54px !important;
        margin: 0 90px;
        max-width: 150px;
        padding: 5px 10px;
        position: absolute;
        width: 100%;
        z-index: 999;
        min-width: 150px;
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    }

        .filter-menu .filter .nav-link {
            color: #607d8b;
            display: block;
            font-size: 13px;
            line-height: 22px;
            padding: 5px 0;
        }

            .filter-menu .filter .nav-link > i {
                margin-right: 10px;
            }

    .filter-menu .dropdown-toggle:after {
        display: none;
    }

.badge {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 100;
    background: #00c292;
    width: 30%;
    display: inline-block;
    float: right;
    position: relative;
    border-radius: 0;
}
/*Fim Tarefas*/
.progress {
    width: 120px;
    height: 120px;
    background: none;
    position: relative;
}
.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

    .progress .progress-left {
        left: 0;
    }

    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 10px;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .progress .progress-right {
        right: 0;
    }

        .progress .progress-right .progress-bar {
            left: -100%;
            border-top-left-radius: 90px;
            border-bottom-left-radius: 90px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }

    .progress .progress-value {
        position: absolute;
        top: 0;
        left: 0;
    }
/*Modal*/
.popupWindow {
    background: #fdfdfd;
}

.ui-widget-overlay {
    opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;
    background: rgb(50, 50, 50) !important; /* This will make it darker */
}

.ui-dialog .ui-dialog-titlebar {
    border: none;
    background: #fff;
}

.modal-title {
    text-align: left;
    margin-bottom: 30px;
    margin-top: -10px;
    color: #272727;
    font-weight: 500;
    font-family: "DubaiW23";
}

.btn-addmodal {
    background: #12b246;
    border-radius: 2px;
    color: #fff;
    top: 0px;
    font-size: 0.8rem !important;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    padding-right: 2.9rem;
    padding-left: 2.9rem;
    float: right;
}

.ui-dialog-buttons {
    background: #000;
}
/*Fim Modal*/
/*Inputs*/
label {
    width: 100%;
    top: 0px;
    color: #5f5f5f;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5;
    text-transform: uppercase;
}

.campo {
    outline: none;
    display: block;
    background: #fff;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-family: "DubaiW23";
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    border: solid 1px #d2d2d2;
    font-size: 0.9rem !important;
}

.campodis {
    outline: none;
    display: block;
    background: #fff;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-family: "DubaiW23";
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    border: solid 1px #d2d2d2;
    font-size: 0.9rem !important;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #fafafa;
    outline: none;
    border: solid 1px #d2d2d2;
}

input[type=submit] {
    width: 100%;
    height: 30px;
    padding: 0;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background-color: #12b246;
    opacity: 1;
    cursor: pointer;
    border-radius: 0;
}

    input[type=submit]:hover {
        background-color: #12b246;
        border: 1px #42af17 solid;
    }

    input[type=submit]:focus {
        outline: none;
    }
/*Fim inputs*/
/*Tabelas*/
table {
    text-align: left;
    font-family: "DubaiW23";
    width: 100%;
    background: #fff;
    margin: 0;
}

.table-responsive {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
}

tr td {
    padding: 10px;
    color: #242424;
    font-weight: 400;
    white-space: nowrap;
    font-size: 0.9rem;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item {
    color: #4d4d4d;
    content: "\F848";
    font-family: "Material Design Icons";
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.itemback {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
}

thead th {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: #2c2c2c;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/*Fim das tabelas*/
.btn-add {
    background: #12b246;
    border-radius: 70px;
    color: #fff;
    top: 0px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    float: right;
}

.body-title {
    font-family: "DubaiW23";
    font-size: 1.5rem;
    font-weight: 600;
}

.selectdropdown {
    font-size: 14px;
    /*box-shadow: 0px 2px 15px 3px rgba(0,0,0,0.1);*/
    border-radius: 70px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.js-select2 {
    border: none;
    outline: none;
    padding-left: 18px;
    padding-right: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 35px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "DubaiW23";
}

.table-data__tool {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 28px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail .item-icon i {
    font-size: 17px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-content {
    padding-left: 0.937rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
    margin-left: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
    margin-left: 10px;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
    margin-left: 0;
    margin-right: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
    margin: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
    margin-right: .5rem;
    vertical-align: middle;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-content {
    padding-left: 0.937rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
    margin-left: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
    margin-left: 10px;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
    margin-left: 0;
    margin-right: 2.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
    margin: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
    margin-right: .5rem;
    vertical-align: middle;
}

@media (max-width: 991px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
        position: static;
    }

        .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
            left: 20px;
            right: 20px;
            top: 60px;
            width: calc(100% - 40px);
        }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator {
    position: relative;
    padding: 0;
    text-align: center;
}

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator i {
        font-size: 1.5rem;
        margin-right: 0;
        vertical-align: middle;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
        position: absolute;
        left: 59%;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #ff4747;
        top: 9px;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator:after {
        display: none;
    }

@media (min-width: 992px) {
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-left: auto;
    }

    .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-left: 0;
        margin-right: auto;
    }
}

@media (max-width: 991px) {
    .navbar {
        flex-direction: row;
    }

        .navbar .navbar-brand-wrapper {
            width: 55px;
        }

            .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
                display: none;
            }

            .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
                display: inline-block;
            }

    .navbar-collapse {
        display: flex;
        margin-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    .navbar .navbar-brand-wrapper {
        width: 55px;
    }

        .navbar .navbar-brand-wrapper .brand-logo-mini {
            padding-top: 0px;
        }
}

.justify-content-center, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail .item-icon {
    justify-content: center !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail .item-icon {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    color: #ffffff;
}

.d-flex, .navbar .navbar-menu-wrapper .navbar-nav, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail .item-icon, .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .nav-item {
    display: flex !important;
}
/*Update card*/
.bg-c-green {
    background: #09b76b;
}

.update-card {
    padding: 20px;
}
/*Paginação*/
.pagination {
    padding: 10px 0;
}

.p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

.p1 page-item a.is-active {
    background-color: #2ecc71;
    border-radius: 100%;
    color: #fff;
}
