
@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewEquipe
@{
                ViewBag.Title = "Equipes";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-conteudo {
        width: 350px;
        height: 200px;
        background: #FFF;
        z-index: 1100;
        border-radius: 3px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: none;
    }
    </style>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<div class="main-body">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title box-title">Equipes</h6>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ti-minus minimize-card"></i></li>
                            <li><i class="icon-refresh"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="tablecontainer">
                            <div class="overlay"></div>
                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <a class="popup btn btn-add" href="/Sistema/Funcionario/NovaEquipe" style="margin-bottom:20px; margin-top:20px;">Nova equipe</a>
                                <table class="table">
                                    <thead class="thead-title">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">LIDER</th>
                                            <th scope="col">Desc</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.FunciEquipe)
                                        {
                                            <tr>
                                                <th scope="row"></th>
                                                <td>@Html.DisplayFor(modelItem => item.Equipe.Nome)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Funcionario.Pessoa.Nome)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Equipe.Desc)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-body text-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@* jQuery('.linha').on('click', function () {
        var html = $(this).html();
        jQuery('.card-header').append(html);
    });*@
@section scripts{

    <script>

        jQuery('.linha').on('click', function () {
            $("#newmodal").modal("show");
            $(".modal-conteudo").modal("show");

            var html = $(this).html();
            jQuery('.modal-conteudo').append(html);
        });

        $(function () {



            $(".delete").click(function () {
                var url = $(this).data('url');

                $("#newmodal").load(url, function () {
                    $("#newmodal").modal("show");
                    $("#modal-placeholder").modal("show");
                })
            });

        })
    </script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script>
        var Popup;
        $(document).ready(function () {
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));

            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        modal: true,
                        height: 550,
                        width: 600,
                        close: function () {
                            $('.overlay').hide(),
                                $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
}

