@{
    ViewBag.Title = "Portal";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organ</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/portal.css">
    <link rel="stylesheet" href="~/Content/fixed.css">
    <link rel="icon" type="imagem/ico" href="~/Imagens/portal/icon2.ico" />
    <!-- SCROLL SUAVE -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- FIM SCROLL SUAVE -->
    <!-- SCROLL SUAVE -->
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 600);
            });
        });</script>
    <!-- FIM SCROLL SUAVE -->
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
    <!--Home-->
    <div id="Home">
        <!--Nav-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand scroll" href="#home"><img src="~/Imagens/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto order-0">
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#diferencial">Por que nós?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#sobre">Funcionalidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#precos">Planos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#comofunciona">Como funciona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#contato">Contato</a>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <a class="btn btn-outline-success my-2 my-sm-0 entrar black" href="/Sistema">Acessar o Organ</a>
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "btn my-2 my-sm-0 sair white" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"> Fazer logoff</a>
                    }
                }
                else
                {
                    <a class="btn btn-outline-success my-2 my-sm-0 entrar black" href="@Url.Action("Login", "Account", new { returnUrl = "" })">Entrar</a>
                    <a class="btn btn-outline-success my-2 my-sm-0 registrar black" href="/Account/RegistroOrgan">Registrar-se</a>
                }
            </div>
        </nav>
        <!--FimNav-->
        <!--Principal-->
        <div class="landing" id="home">
            <div class="home-wrap">
                <div class="home-inner">
                </div>
            </div>
        </div>
        <div class="homeimg">
            <img src="~/Imagens/portal/homeimg.png">
        </div>
        <div class="caption text-left">
            <h1>O software agro que você precisa.</h1>
            <h3>O que faltava está aqui. A administração de seu agronegócio nunca foi tão fácil e eficiente.</h3>
            <a class="btn btn-outline-light btn-lg" href="#sobre">Conheça o Organ</a>
            <a class="btn btn-outline-light btn-lg" href="/Ecommerce">Acesse o ecommerce</a>
        </div>
        <!--FimPrincipal-->
    </div>
    <!--FimHome-->
    <!--PorqueNos-->
    <div id="diferencial" class="offset">
        <div class="jumbotron">
            <div class="narrow text-center">
                <div class="col-12">
                    <h4 class="heading text-left">Nosso diferencial</h4>
                    <h3 class="heading text-left">Por que nós?</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-circle fa-7x" data-fa-transform="shrink-1 up-3"></i>
                            <h3>Moderno</h3>
                            <p>Nós implementamos o que há de mais novo na tecnologia para o seu alcance.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-circle fa-7x" data-fa-transform="shrink-1 up-3"></i>
                            <h3>Prático</h3>
                            <p>Rápido, fácil, sem complicações.Não perca tempo em tarefas simples.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-circle fa-7x" data-fa-transform="shrink-1 up-3"></i>
                            <h3>Eficiente</h3>
                            <p>Soluções que realmente te auxiliam na administração de seu agronegócio.</p>
                        </div>
                    </div>
                </div> <!--row-->
            </div> <!--narrow-->
        </div> <!--jumbotron-->
    </div>
    <!--PorqueNos-->
    <!--Funcionalidades-->
    <div id="servico" class="offset">
        <div class="fixed-background">
            <h1 class="citafunc text-left">Os melhores resultados para sua safra.</h1>
            <div class="row dark text-center">
                <div class="container func">
                    <!--<div class="row"></div>-->
                    <div class="col col-md-10">
                        <h2 class="titlefunc text-left">O software</h2>
                        <p class="text-left">
                            O sistema Organ é voltado para a agricultura, e permite
                            responder à possibilidade de controle de plantio, registrando
                            todo o manejo da cultura.Além de atender às necessidades de
                            estoque e um controle organizado da entrada e saída de informações.
                            Facilitando o gerenciamento de uma safra.
                        </p>
                    </div>
                    <div class="col col-md-auto funcimg">
                        <img src="~/Imagens/portal/tela.png"></ div >
                    </div> <!--row-->
                    <div class="fixed-wrap">
                        <!--background-->
                        <div class="fixed"></div>
                    </div>
                </div> <!--container-->
            </div> <!--row-->
        </div> <!--fixedbg-->
    </div> <!--fixedbg-->
    <!--FimFuncionalidades-->
    <!--Sobre-->
    <div id="sobre" class="offset">
        <div class="row">
            <div class="col-md-10 narrow text-center">
                <div class="sidebar">
                    <div class="col-12">
                        <h4 class="heading text-right">Soluções eficientes</h4>
                        <h3 class="heading text-right">Funcionalidades</h3>
                        <h4 class="text-right">Estime seu lucro e compare gastos</h4>
                        <p class="text-right">Entenda a origem de cada despesa, comparando custo-benefício para nunca ficar para trás.</p>
                        <h4 class="text-right">Controle sua produção e tarefas</h4>
                        <p class="text-right">Acompanhe o estoque, utilização de insumos, produtividade e faça o rateio por área utilizada.</p>
                        <h4 class="text-right">Controle sua produção e tarefas</h4>
                        <p class="text-right">Receba notificações sempre que a cotação chegar ao valor ideal e tenha acesso completo ao nosso ecommerce.</p>
                        <h4 class="text-right">Facilite o contato entre a equipe</h4>
                        <p class="text-right">Crie salas de conversa para decisões rápidas, além de entregar tarefas para seus funcionários de forma prática.</p>
                    </div>
                </div>
                <div class="citacao">
                    <blockquote class="text-justify">
                        <i class="fas fa-quote-left"></i>
                        Estamos mais técnicos nas decisões, usando
                        os dados que temos na palma da mão.
                        Resumindo: deixando o coração na gaveta
                        e encarando o negócio sem piedade. <h6 class="text-right">- Mairo Melo, cliente</h6>
                    </blockquote>
                    <a class="btn btn-outline-light btn-lg" href="/Ecommerce">Conheça nosso e-commerce</a>
                </div>
            </div>
        </div>
    </div>
    <!--FimSobre-->
    <!--Planos-->
    <div id="precos" class="offset"></div>
    <div class="jumbotron">
        <div class="col-12 text-center">
            <h4 class="heading">Nossos preços</h4>
            <h3 class="heading">Planos disponiveis</h3>
        </div>
        <div id="generic_price_table">
            <section>
                <div class="row justify-content-md-center">
                    <div class="col-md-3">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Mensal</span>
                                    </div>
                                </div>
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">R$</span>
                                        <span class="currency">250</span>
                                        <span class="month">/mês</span>
                                    </span>
                                </div>
                            </div>
                            <div class="generic_feature_list">
                                <ul>
                                    <li>Implantação gratuita</li>
                                    <li>Gerenciamento de 2 fazendas</li>
                                    <li>Número máximo de 5 usuários</li>
                                    <li>E-commerce</li>
                                    <li>Módulos básicos</li>
                                    <li>Suporte de segunda a sexta</li>
                                </ul>
                            </div>
                            <div class="generic_price_btn clearfix">
                                <a class="" href="">Experimentar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="generic_content active clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Anual</span>
                                    </div>
                                </div>
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="currency">Orçamento</span>
                                    </span>
                                </div>
                            </div>
                            <div class="generic_feature_list">
                                <ul>
                                    <li>Implantação gratuita</li>
                                    <li>Gerenciamento ilimitado de fazendas</li>
                                    <li>Número ilimitado de usuários</li>
                                    <li>E-commerce</li>
                                    <li>Todos os módulos disponíveis + Aplicativo</li>
                                    <li>Suporte 24 horas</li>
                                </ul>
                            </div>
                            <div class="generic_price_btn clearfix">
                                <a class="" href="">Experimentar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Semestral</span>
                                    </div>
                                </div>
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">R$</span>
                                        <span class="currency">200</span>
                                        <span class="month">/mês</span>
                                    </span>
                                </div>
                            </div>
                            <div class="generic_feature_list">
                                <ul>
                                    <li>Implantação gratuita</li>
                                    <li>Gerenciamento de 5 fazendas</li>
                                    <li>Número máximo de 10 usuários</li>
                                    <li>E-commerce</li>
                                    <li>Módulos básicos + financeiro</li>
                                    <li>Suporte 24 horas</li>
                                </ul>
                            </div>
                            <div class="generic_price_btn clearfix">
                                <a class="" href="">Experimentar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--Fim Planos-->
    <!--PassoAPasso-->
    <div id="comofunciona" class="offset">
        <div class="fixed-background">
            <h1 class="citaconect text-left">Permaneça sempre conectado</h1>
            <p class="descconect">Com o Organ é possível acessar suas informações de qualquer lugar.</p>
            <div class="row dark text-center">
                <div class="container func">
                    <div class="row">
                        <div class="col col-md-6">
                            <ul class="passos">
                                <li class="index">Visita</li>
                                <li class="descricao">Um de nossos representantes autorizados visita sua fazenda para demonstração do software.</li>
                                <li class="index">Contrato</li>
                                <li class="descricao">Após a visita, o fechamento do contrato comercial com valores, obrigações e de ambas as partes é elaborado.</li>
                                <li class="index">Instalação</li>
                                <li class="descricao">Os equipamentos serão analisados e preparados para a implantação do software Organ.</li>
                                <li class="index">Pronto</li>
                                <li class="descricao">Seu sistema está disponível e pronto para receber os dados do seu negócio!</li>
                            </ul>
                        </div>
                        <div class="col-md-auto conectimg">
                            <img src="~/Imagens/portal/conectado.jpg">
                        </div>
                    </div> <!--row-->
                    <div class="fixed-wrap">
                        <!--background-->
                        <div class="fixed2"></div>
                    </div>
                </div> <!--container-->
            </div> <!--row-->
        </div> <!--fixedbg-->
    </div>
    <!--FimPassoAPasso-->
    <!--Contato-->
    <div id="contato" class="offset">
        <div class="narrow text-center">
            <div class="col-12">
                <h4 class="heading">Fale conosco</h4>
                <h3 class="heading">Entre em contato</h3>
            </div>
        </div> <!--narrow-->
        <footer>
            <div class="row text-center">
                <div class="col-md-2 empresa">
                    Desenvolvido por Experience Systems
                </div>
                <div class="col-md-8 col-12">
                    <div class="panel text-left">
                        <fieldset>
                            <form>
                                <h5>Nome</h5>
                                <input type="text" placeholder="Seu nome" required />
                                <br /><br />
                                <h5>Email</h5>
                                <input type="email" placeholder="Seu email" required />
                                <br /><br />
                                <h5>Assunto</h5>
                                <input type="text" placeholder="Tipo de assunto" required />
                                <br /><br />
                                <h5>Mensagem</h5>
                                <textarea placeholder="Digite sua mensagem" cols="30" rows="5" required></textarea>
                                <br /><br />
                                <input type="submit" value="Enviar" id="botao" onclick="Verificar()" />
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="rodape">
                <hr class="socket text-center">&copy Copyright 2017 – 2019 Experience Systems. Todos os direitos reservados.
            </div>
        </footer>
    </div>
    <!--FimContato-->
    <!--- Script Source Files -->
    <script src="~/Scripts/jquery-3.3.1.min.js">
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <script type="text/javascript">
        // Scrolling Effect
        $(window).on("scroll", function () {
            if ($(window).scrollTop()) {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            }
        })</script>
    <!--- End of Script Source Files -->
</body>
</html>
