@model OrganWeb.Areas.Sistema.Models.Ferramentas.MaquinaManutencao

<h2>Detalhes</h2>
                <div class="card-body">
                    <div class="card-content">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">@Html.DisplayFor(model => model.Manutencao.Nome)</div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>