@model IEnumerable<OrganWeb.Areas.Ecommerce.Models.Vendas.Anuncio>

@{
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Novo anúncio", "Novo", "Anuncio")
    </p>

    <!--PRODUTOS-->
    <!-- Products tab & slick -->
    <div class="container">
        <div class="row">
            <!-- product -->

            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="product">
                        <div class="product-img">
                            <img src="~/Imagens/milho.png" alt="">
                            <div class="product-label">
                                <span class="sale">-@Html.DisplayFor(modelItem => item.Desconto)%</span>
                                <span class="new">NOVO</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">Sementes</p>
                            <h3 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Nome) / <i class="icon-room"></i>Sorriso, MT</a></h3>
                            <h4 class="product-price">R$@Html.DisplayFor(modelItem => item.Produto.ValorUnit) <del class="product-old-price">R$15,00</del></h4>
                            <div class="product-rating">
                                <i class="icon-star2"></i>
                                <i class="icon-star2"></i>
                                <i class="icon-star2"></i>
                                <i class="icon-star2"></i>
                                <i class="icon-star_border"></i>
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                                <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                                <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->
            }

        </div>
    </div>

</body>
</html>
